.btn {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    background-color: #130e17;
    color: #e3d3d1;
    border-radius: 8px;
}

.btn:hover {
    cursor: pointer;
    background-color: #090979;
    transition: all .2s;
}

.card {
    border: 1px solid darkgrey;
    background-color: #090979;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .4s, opacity .7s;
    /* transform-style: preserve-3d;
    perspective: 1000; */
}

.cardImage {
    max-width: 90%;
    max-height: 90%;
    /* transform: rotateY(180deg);
    transition: transform 6s; */
}

.unselected {
    transition: background-color .2s;
}

.selected {
    background-color: #568fb5;
    box-shadow: none;
    transition: background-color .2s;
}

.matched {
    opacity: 0;
    /* transition: opacity .7s; */
}

.unselected:hover {
    box-shadow: 3px 3px lightgrey;
    /* transition: box-shadow .2s; */
}

#cardWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;

    /* flex child rules */
    flex-grow: 1;
}

#gameScreen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0px;
}

h1 {
    text-align: center;
}

body {
    background: #e3d3d1;
    color: #130e17;
    font-size: 2em;
    /* background: linear-gradient(142deg, rgba(2,0,36,0.25) 0%, rgba(9,9,121,0.25) 35%, rgba(0,212,255,0.25) 100%); */
}

#gameCanvas {
    padding: 0% 20% 0 20%;
    display: flex;
    flex-direction: column;
    height: 98%;
}

#gameOverScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}